<h2 class="header"><div class="headerText">Enthusiastic Team <br><div class="subText">claim your insurance smoothly</div></div> <div class="logInButton"><button mat-raised-button color="accent" (click)="openLoginForm()">Login to OCR</button></div></h2>

<!-- <div class="headerContent">
About Enthusiastic Team
</div>

<div class="content">
    content goes here
</div>
<br> -->

<div class="footerContent">

    <div class="footerHeader">
        Developed by
    </div>

    <mat-card class="example-card" style="max-height: 20%;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image1"><img mat-card-image src="https://cloudemployee.co.uk/assets/img/avatar/Avatar-4.png" alt="Photo of a Shiba Inu"></div>
          <mat-card-title style="margin-left: 60%">Amey</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <!-- <p class="role">
            Analyse how people move in a space in real time for occupancy count, social distancing and face mask detection.
          </p> -->
        </mat-card-content>
      </mat-card>
    <mat-card class="example-card" style="max-height: 20%;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"><img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkWCEGpuakGVhwczoA5D93q1m3iUQ4vaYAc07uvcvBJfAzAT9XBQzlg_l47jY03KG5xvQ&usqp=CAU" alt="Photo of a Shiba Inu"></div>
          <mat-card-title style="margin-left:60%">Balaji</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <!-- <p class="role">
            Analyse how people move in a space in real time for occupancy count, social distancing and face mask detection.
          </p> -->
        </mat-card-content>
      </mat-card>
      
      <mat-card class="example-card" style="max-height: 20%;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"><img mat-card-image src="https://t3.ftcdn.net/jpg/03/29/36/40/360_F_329364028_wVuGGblS5BxfbbQYiPMZzpzOuAYUBkzx.jpg" alt="Photo of a Shiba Inu"></div>
          <mat-card-title style="margin-left: 25%">Deepali</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <!-- <p class="role">
            Analyse how people move in a space in real time for occupancy count, social distancing and face mask detection.
          </p> -->
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card" style="max-height: 20%;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4"><img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkWCEGpuakGVhwczoA5D93q1m3iUQ4vaYAc07uvcvBJfAzAT9XBQzlg_l47jY03KG5xvQ&usqp=CAU" alt="Photo of a Shiba Inu"></div>
          <mat-card-title style="margin-left: 50%">Pranav</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <!-- <p class="role">
            Analyse how people move in a space in real time for occupancy count, social distancing and face mask detection.
          </p> -->
        </mat-card-content>
      </mat-card>
</div>